###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/cache
/var/log
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/assets/vendor/
###< symfony/asset-mapper ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

/tools/**/vendor/
/tools/**/composer.lock
.php-cs-fixer.cache

# local
.phpdoc/
.DS_Store
