@font-face {
  font-family: Bembo;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Bembo-Regular-_0WX7Ys.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Bembo-Italic;
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Bembo-Italic-NVVuHNV.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Bembo-Bold;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Bembo-Bold-LP9YhI7.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Bembo-BoldItalic;
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Bembo-BoldItalic-_Fhhc_P.woff2") format('woff2');
  font-display: swap;
}
