{% extends "base.html.twig" %}

{% block title %}Ny bok{% endblock %}

{% block body %}
{% include 'book/library_template.html.twig' %}
    <section class="center">
        <h2>Ny bok</h2>
        <form method="post" action="{{ path('library_new_post') }}">
            <table class="left booktable">
                <tr class="booktable_row">
                    <th>Titel</th>
                    <td><input type="text" size="50" name="title" value="" required autocomplete="off"></td>
                    <td rowspan="3" class="center"><img src="{{ asset('build/images/books/placeholder.avif') }}" width="300" alt="Ny bok"></td>
                </tr>
                <tr class="booktable_row">
                    <th>Författare</th>
                    <td><input type="text" size="50" name="author" value="" required autocomplete="off"></td>
                </tr>
                <tr class="booktable_row">
                    <th>ISBN-13</th>
                    <td><input type="text" size="50" name="isbn" value="" pattern="[0-9]{13}" required autocomplete="off"></td>
                </tr>
            </table>
            <button type="submit">Lägg till</button>
        </form>
    </section>
{% endblock %}
