@charset "utf-8";

:root {
  --darkgreen: rgb(7 12 13);
  --green: rgb(73 89 57);
  --aqua: rgb(41 101 115);
  --beige: rgb(166 159 128);
  --lightbrown: rgb(191 143 101);
  --orange: rgb(191 62 33);
  --brown: rgb(115 52 38);

  --dark: rgb(0 0 0);
  --light: rgb(240 240 240);
  --footer: rgb(22 22 22);
  --table: rgb(67 67 67);
}

[lang='sv'] {
  font-language-override: 'SVE';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  src: url("../font/Poppins-Regular.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Poppins-Italic;
  font-style: italic;
  font-weight: normal;
  src: url("../font/Poppins-Italic.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Poppins-Bold;
  font-style: normal;
  font-weight: bold;
  src: url("../font/Poppins-Bold.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Poppins-BoldItalic;
  font-style: italic;
  font-weight: bold;
  src: url("../font/Poppins-BoldItalic.woff2") format('woff2');
  font-display: swap;
}

html {
  font-size: 100%;
  background-color: var(--dark);
  color: var(--light);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Poppins, sans-serif;
  font-size: 1.1em;
  line-height: 1.4;
  hyphens: auto;
  text-wrap: balance;
}

header {
  padding: 1rem;
  background-color: var(--green);
  min-height: 75px;
  background-image: url("../images/chihiro-nav.avif");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  background-blend-mode: multiply;
}

nav {
  text-align: center;
  margin: 0 auto;
  max-width: 60%;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
}

main {
  flex-grow: 1;
  margin: 1rem;
  padding: 1rem;
}

footer {
  flex-shrink: 0;
  z-index: 100;
  background-color: var(--darkgreen);
  color: var(--beige);
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem 4rem 0;
}

* a, * a:link, * a:visited, * a:hover {
  color: inherit;
  opacity: 0.8;
}

a.active {
  text-decoration: underline double currentcolor;
  color: var(--orange) !important;
}

img {
  max-width: 100% !important;
  max-height: 100%;
  object-fit: scale-down;
  border-radius: 0.1em;
  padding: 0.5em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins-Bold, sans-serif;
  color: var(--light);
  margin-bottom: 1.4rem;
}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.4rem;
}

em, figcaption {
  font-family: Poppins-Italic, sans-serif;
}

figcaption {
  color: var(--green);
}

strong, th {
  font-family: Poppins-Bold, sans-serif;
}

code {
  font-family: "Courier New", Courier, monospace;
  color: var(--orange);
}

.center {text-align: center;}
.right {text-align: right;}
.left {text-align: left;}

.two-columns {
  columns: 2 25rem;
  column-gap: 2rem;
}

select#kmom {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.2em;
  font-size: 0.8em;
  background-color: var(--orange);
  color: var(--light);
}

.initcap:first-letter {
  color: var(--orange);
  initial-letter: 3;
  margin-right: 0.15em;
  font-family: Poppins-BoldItalic, sans-serif;
  /* Firefox */
  float: left;
  font-size: 500%;    
}
