@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  src: url("../font/Poppins-Regular.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Poppins-Italic;
  font-style: italic;
  font-weight: normal;
  src: url("../font/Poppins-Italic.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Poppins-Bold;
  font-style: normal;
  font-weight: bold;
  src: url("../font/Poppins-Bold.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Poppins-BoldItalic;
  font-style: italic;
  font-weight: bold;
  src: url("../font/Poppins-BoldItalic.woff2") format('woff2');
  font-display: swap;
}
