.humongous {
  font-size: 3em;
}

.dojo {
  display: flex;
  gap: 1rem;
  text-align: center;
}

.dojobox {
  margin: 1rem;
  padding: 0.5rem;
  flex-grow: 1;
  width: 40%;
}

.dojo_midsection {
  margin: 1rem;
  padding: 0.5rem;
  flex-grow: 1;
  width: 15%;
  border-width: 0 thin;
  border-style: solid;
  border-color: var(--aqua);
}

.game_table tr th,
.game_table tr td {
  border: thin solid var(--table);
  padding: 0.7rem;
}

.upto21 {
  color: var(--aqua);
}

.over21 {
  color: var(--orange);
}
