.center {text-align: center;}
.right {text-align: right;}
.left {text-align: left;}

.two-columns {
  columns: 2 25rem;
  column-gap: 2rem;
}

select#kmom {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.2em;
  font-size: 0.8em;
  background-color: var(--orange);
  color: var(--light);
}

.initcap:first-letter {
  color: var(--orange);
  initial-letter: 3;
  margin-right: 0.15em;
  font-family: Poppins-BoldItalic, sans-serif;
  /* Firefox */
  float: left;
  font-size: 500%;    
}
