.center {text-align: center;}
.right {text-align: right;}
.left {text-align: left;}

.huge {
  font-size: 5rem;
}

.two-columns {
  columns: 2 25rem;
  column-gap: 2rem;
  column-rule: thin dashed var(--aqua);
  border-bottom: thin dashed var(--aqua);
  padding-bottom: 2rem;
}

.three-columns {
  columns: 3 20rem;
  column-gap: 2rem;
  column-rule: thin dashed var(--aqua);
  border-bottom: thin dashed var(--aqua);
  padding-bottom: 2rem;
}

.columns {
  columns: auto auto;
  column-gap: 1rem;
}

select#kmom,
select#metrik {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  background-color: var(--orange);
  color: var(--light);
  width: 100px;
  transform: translateX(-40px) translateY(40px) rotate(-90deg);
}

.initcap:first-letter {
  color: var(--orange);
  initial-letter: 3;
  margin-right: 0.15em;
  font-family: Poppins-BoldItalic, sans-serif;
  /* Firefox */
  float: left;
  font-size: 500%;    
}

ul.inline li {
  display: inline;
}

input[type="number"] {
  width: 3rem;
}

.humongous {
  font-size: 3em;
}

.striped {
  border: thin var(--table);
}

.striped tbody:nth-child(odd) > tr {
  background-color: var(--green);
}

.striped tbody:nth-child(even) > tr {
  background-color: var(--footer);
}

.flash-notice {
  background-color: var(--brown);
	opacity: 1;
	animation-name: fade-in;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
