{% extends "base.html.twig" %}

{% block title %}Api:n{% endblock %}

{% block body %}
    <section class="center">
        <h1>Tillgängliga API:n</h1>
        <ul>
            <li><a href="{{ path('quotation') }}">Citat</a>: Slumpar fram välformulerade citat.</li>
        </ul>
        <figure>
            <img src="{{ asset('build/images/chihiro-api.avif') }}" width="896" alt="Chihiro">
            <figcaption>@mos fastnar i en loop.</figcaption>
        </figure>
    </section>
{% endblock %}
