{% extends "base.html.twig" %}

{% block title %}Om{% endblock %}

{% block body %}
    <section class="two-columns">
        <h1>Kortspel</h1>
        <p class="initcap">Kursen DV1608 <em>Objektorienterade webbteknologier</em> syftar till att beskriva <code>Hello world!</code> på det mest komplicerade vis som kan föreställas, omfattande 200 MB kod utvecklad under 300 manår. Samt kanske att förbereda för mer avancerade projekt med hjälp av tunga ramverk.</p>
        <p>Moment omfattar objektorienterad PHP med klasser, egenskaper, arv, namnrymder med mera, i kombination med objektorienterad databashantering (ORM). Som ramverk nyttjas Symfony med komponenter som Twig, direkt under Symfonys egen http-server och kanske även PHP:s motsvarighet.</p>
        <a href="card/deck">deck</a>
    </section>
{% endblock %}
