{% extends "base.html.twig" %}

{% block title %}Kortspel{% endblock %}

{% block body %}
    <section class="center">
        <h1>Kortspel</h1>
        <ul>
            <li><a href="session">sessionen</a></li>
            <li><a href="card/deck">kortleken</a></li>
            <li><a href="card/deck/shuffle">blanda leken</a></li>
            <li><a href="card/deck/draw">dra kort från lek</a></li>
        </ul>
    </section>
{% endblock %}
