{% extends "base.html.twig" %}

{% block title %}Kortleken{% endblock %}

{% block body %}
    <section class="columns center">
        <h1>Kortleken</h1>
        {% for card in deck %}
            <span><img src="../build/images/cards/{{ card }}.svg" width="100" alt="{{ unicode[card:1] }}"></span>
        {% endfor %}
    </section>
{% endblock %}
