{% extends "base.html.twig" %}

{% block title %}Dokumentation{% endblock %}

{% block body %}
            <section class="dojo">
                <div class="dojobox">
                    <h1>♠️ Spelare</h1>
                    <table>
                        <tr>
                            <th>Saldo</th>
                            <th>Insats</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <h2>Hand</h2>
                </div>
                <div class="dojobox">
                    <h1>🏦 Bank</h1>
                    <table>
                        <tr>
                            <th>Saldo</th>
                            <th>Insats</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <h2>Hand</h2>
                </div>
            </section>
{% endblock %}
