{% extends "base.html.twig" %}

{% block title %}Tur{% endblock %}

{% block body %}
    <section class="center">
        <h1>Ögonblicksbilder @ BTH</h1>
        <figure>
            <img src="{{ asset('img/bth/'~number~'.avif') }}" width="512" height="512" alt="Chihiro">
            <figcaption>{{ number }}</figcaption>
        </figure>
    </section>
{% endblock %}
