{% extends "base.html.twig" %}

{% block title %}Rapport{% endblock %}

{% block body %}
    <select id="kmom" aria-label="kmom" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
        <option value="#navbar">topp</option>
        <option value="#kmom01">km01</option>
        <!-- option value="#kmom02">km02</option>
        <option value="#kmom03">km03</option>
        <option value="#kmom04">km04</option>
        <option value="#kmom05">km05</option>
        <option value="#kmom06">km06</option>
        <option value="#kmom10">km10</option -->
    </select>
    <nav id="navbar"></nav>
    <h1>Rapport</h1>
    <section class="two-columns" id="#kmom01">
        <h2>Kmom01</h2>
        <p class="initcap">I rasande tempo introduceras ramverket Symfony, och den församlade skaran studerande har bara att försöka hänga med i störtfloden av ny information. Upplägget är bekant sedan tidigare: att plumsa i havet, gripa tag i någon drivved och försöka överleva. Även om man får en del plankor till skänks att hålla fast vid.</p>
        <p>Kontroller, mallar och vyer införs i diskursen, och så även RESTfulla API:n via JSON. Via Twig kan webbsidor slutligen renderas på någorlunda bekant sätt, och på något vis känns motorn i bakgrunden tämligen överflödig.</p>
        <p>Objektorienterad PHP berörs flyktigt, men mestadels för att beskriva klasser i Symfoni. Frågan är om ren OOP kommer att avhandlas i kursen? Hantering av bilder, CSS och Javascript ombesörjs därefter, varefter resultatet är färdigt att distribuera på server likväl som Github.</p>
        <p>Angående förkunskaper kring objektorienterad kod föreligger sådan i form av Ada och PHP, den senare på ganska god nivå. Klasser och objekt skiljer sig inte nämnvärt från andra språk, men instantiering är mycket smidigare. Den som kommer från Python lär uppfatta vissa diskrepanser, som att PHP inte per default nyttjar referens i funktionsanrop.</p>
        <p>Ramverk är egentligen ett jävla skit, men man kan förstå lockelsen i att snabbt ha en modell färdig att implementera, till priset av att man blir synnerligen låst i sin programmering, och därtill beroende av en stor mängd extern programvara som inte alltid lirar felfritt.</p>
        <p>Det finns i princip inget i <em>PHP The Right Way</em> som är särskilt intressant eller tilltalande. Artikeln är förlegad och därtill väldigt rörig. Särskilt upprörande är att man förespråkar en kodstandard som skiljer sig från PHP:s egna (1TBS, K&amp;R).</p>
        <p>TIL får nog sägas vara att nyttja ramverket Symfony, en erfarenhet som kanske är nyttig men som jag aldrig skulle fundera på att använda för egen del. Det är själva definitionen av bloat.</p>
        <figure>
            <img src="{{ asset('img/chihiro-kmom01.avif') }}" width="1536" alt="Chihiro">
            <figcaption>@mos inskärper allvaret i studierna.</figcaption>
        </figure>
    </section>
{% endblock %}
