{% extends "base.html.twig" %}

{% block title %}Blanda kortleken{% endblock %}

{% block body %}
    {% include 'card_template.html.twig' %}
    <section class="columns center">
        <h2>Blanda kortleken</h2>
        {% for card in app.session.get('deck').deck %}
            <span><img src="{{ asset('build/images/cards/'~card.value~'.svg') }}" width="100" alt="{{ app.session.get('unicode')[card.value:1] }}"></span>
        {% endfor %}
    </section>
{% endblock %}
