{% extends "poker/base.html.twig" %}

{% block title %}Om{% endblock %}

{% block body %}
            <section class="two-columns">
                <h1>Om projektet</h1>
                <p class="initcap">Texas Hold’em No Limit är examinationsmoment i kursen DV1608 <em>Objektorienterade webbteknologier</em> vid Blekinge tekniska högskola, och utgör ett exempel på tillämpning av objektorienterade strukturer omfattande objektorienterad PHP med klasser, egenskaper, arv, namnrymder med mera, i kombination med objektorienterad databashantering (se <a class="pagelink" href="{{ path('proj_about_database') }}">ORM</a> på separat sida). Som ramverk nyttjas Symfony med komponenter som Twig och Doctrine.</p>
                <p>Till verktygen hör vidare linters som PHPStan, PHP-MD, PhpMetrics samt automatiskt testningsförfarande med Scrutinizer via commit på Github. Detta i syfte att säkerställa underhållbar kod samt eliminera felkällor till buggar. Även testning via PHP-Unit utgör en del av arsenalen för att betvinga kodmassan.</p>
                <p></p>
                <img src="{{ asset('build/images/poker/poker-2.avif') }}" width="1500" alt="Poker">
            </section>
{% endblock %}
